<div>
  <h1>Decorators</h1>
  <h2>Log</h2>
  <app-log-demo1></app-log-demo1>
  <p></p>
  <app-log-demo2></app-log-demo2>
  <p></p>
  <app-log-demo3></app-log-demo3>
  <h2>Memoize</h2>
  <app-memoize-demo1></app-memoize-demo1>
  <p></p>
  <app-memoize-demo2></app-memoize-demo2>
  <h2>Loader</h2>
  <app-loader-demo></app-loader-demo>
  <h2>Delay</h2>
  <app-delay-demo></app-delay-demo>
  <h2>Timeout</h2>
  <app-timeout-demo></app-timeout-demo>
  <h2>Error</h2>
  <app-error></app-error>
  <app-error-demo></app-error-demo>
</div>
